[submodule "md-hugo/quick-start/themes/ananke"]
	path = md-hugo/quick-start/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "angular.io-tour-of-heroes/quickstart"]
	path = angular.io-tour-of-heroes/quickstart
	url = https://github.com/angular/quickstart.git
