@import "../../node_modules/normalize.css/normalize.css";

@import "@material/typography/mdc-typography";

$mdc-top-app-bar-prominent-row-height: 96px;
@import "@material/top-app-bar/mdc-top-app-bar";

@import "@material/list/mdc-list";
@import "@material/icon-button/mdc-icon-button";

@import "./themes/akyinkyin/theme";
@import "./svg";

$header-min-height: 128px;
$main-grid-item-min-width: 150px;
$footer-grid-item-min-width: 150px;

$width-720x1280: 720px;
$width-720p: 1280px;

body {
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (orientation: portrait) {
        background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-index/index-720x1280.png);
    }

    /* 720x1280 => 1080x1920 */
    @media only screen and (min-width: $width-720x1280) and (orientation: portrait) {
        & {
            background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-index/index-1080x1920.png);
        }
    }

    @media only screen and (orientation: landscape) {
        background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-index/index-720p.png);
    }

    /* 1080p => 1920w */
    @media only screen and (min-width: $width-720p) and (orientation: landscape) {
        & {
            background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-index/index-1080p.png);
        }
    }

    /* 04. Pancake Stack [ http://1linelayouts.glitch.me/ ] */
    display: grid;
    grid-template-rows: minmax($header-min-height, auto) 1fr auto;
    min-height: 100vh;

    header {
        & > .mdc-top-app-bar {
            min-height: $header-min-height;
        }
    }

    main {
        /* 07. RAM (Repeat, Auto, Minmax) [ http://1linelayouts.glitch.me/ ] */
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(
            3,
            minmax($main-grid-item-min-width, 1fr)
        );

        & > div {
            margin: 1rem;
            min-height: $header-min-height;

            h1 {
                color: $akyinkyin-base;
            }
        }
    }

    footer {
        section {
            text-align: center;

            p {
                color: $akyinkyin-dark-tone;

                & > a {
                    &:active,
                    &:link,
                    &:visited {
                        color: $akyinkyin-dark-tone;
                        text-decoration: none;
                    }
                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: $akyinkyin-base;
                    }
                }
            }
        }
    }
}
