@import "../../node_modules/normalize.css/normalize.css";

@import "@material/typography/mdc-typography";

$mdc-top-app-bar-prominent-row-height: 96px;
@import "@material/top-app-bar/mdc-top-app-bar";

@import "@material/list/mdc-list";
@import "@material/icon-button/mdc-icon-button";

@import "./themes/akyinkyin/theme";
@import "./svg";

$main-grid-item-min-width: 150px;
$footer-grid-item-min-width: 150px;

$width-sd: 640px;
$width-720p: 1280px;

body {
    /* TODO: support mobile-device portrait by default */
    background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-gallery/gallery-sd.png);
    background-repeat: no-repeat;
    background-size: cover;

    /* 720p => 1280w */
    @media only screen and (min-width: $width-sd) and (orientation: landscape) {
        & {
            background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-gallery/gallery-720p.png);
        }
    }

    /* 1080p => 1920w */
    @media only screen and (min-width: $width-720p) and (orientation: landscape) {
        & {
            background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-gallery/gallery-1080p.png);
        }
    }

    /* 04. Pancake Stack [ http://1linelayouts.glitch.me/ ] */
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

    main {
        /* 07. RAM (Repeat, Auto, Minmax) [ http://1linelayouts.glitch.me/ ] */
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(
            auto-fit,
            minmax($main-grid-item-min-width, 1fr)
        );
    }

    footer {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(
            auto-fit,
            minmax($footer-grid-item-min-width, 1fr)
        );

        section {
            text-align: center;
            p {
                color: $akyinkyin-light-text;
            }
        }
    }
}
