        <header>
            <div class="mdc-top-app-bar mdc-top-app-bar--prominent">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <span class="site logo mdc-top-app-bar__title">[title]</span>
                    </section>
                    <section class="site links mdc-top-app-bar__section mdc-top-app-bar__section">
                        [site links]
                    </section>
                </div>
            </div>
        </header>
