        <section>
{%- for indexEntry in index -%}
{%- case forloop.index -%}
    {%- when 1 -%}
            <details open>
    {%- else -%}
            <details>
{%- endcase -%}
                <summary>
                    <h2>{{ indexEntry.segmentName }}</h2>
                </summary>
                <ul>
{%- for segment in indexEntry.segments -%}
                    <li>
                        <a href="./index/{{ segment.segmentName | slug }}/">{{ segment.segmentName }}</a>
                    </li>
{%- endfor -%}
                </ul>
            </details>
{%- endfor -%}
        </section>
