        <footer class="mdc-typography--caption">
            <section>
                <a class="svg-sprite" href="https://portal.azure.com/" target="_blank" title="Microsoft Azure Portal">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_azure_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="https://songhay.visualstudio.com/" target="_blank" title="Microsoft Azure DevOps">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_visual_studio_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="https://twitter.com/BryanWilhite" target="_blank" title="@BryanWilhite">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_twitter_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="http://www.linkedin.com/in/wilhite" target="_blank" title="@BryanWilhite">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_linkedin_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="http://stackoverflow.com/users/22944/rasx" target="_blank" title="@BryanWilhite">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_stack_overflow_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="https://github.com/BryanWilhite" target="_blank" title="@BryanWilhite">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_github_circle_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="http://songhayblog.azurewebsites.net/entry/feed.xml" target="_blank" title="RSS feed">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_rss_24px"></use>
                    </svg>
                </a>
            </section>
            <section>
                <p>
                    another stone tribal move by
                    <a href="http://songhaysystem.com/">Songhay System</a>
                </p>
            </section>
        </footer>
