main {
    & > section.main {
        display: grid;
        grid-gap: 1rem;

        & > div {
            margin: 1rem;

            h1 {
                color: $akyinkyin-base;
            }
        }
    }
}
