body {
    /* background-image */
    @media only screen and (orientation: portrait) {
        background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-index/index-720x1280.png);
    }

    /* 720x1280 => 1080x1920 */
    @media only screen and (min-width: $width-720x1280) and (orientation: portrait) {
        background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-index/index-1080x1920.png);
    }

    @media only screen and (orientation: landscape) {
        background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-index/index-720p.png);
    }

    /* 1080p => 1920w */
    @media only screen and (min-width: $width-720p) and (orientation: landscape) {
        background-image: url(https://songhaystorage.blob.core.windows.net/songhay-player/stills/responsive-test-index/index-1080p.png);
    }

    /* grid-template-columns */
    @media only screen and (min-width: $width-720x1280) {
        & > main {
            grid-template-columns: 1fr ($thumb-size * 2);

            & > section {
                grid-template-columns: $thumb-size 0.75fr;

                & > div, & > article {
                    min-height: $thumb-size;
                }

                & > div > .thumb {
                    display: block;
                }

                & > article > .thumb {
                    display: none;
                }
            }

            & > aside {
                display: block;
            }
        }
    }

    @media only screen and (max-width: $width-720x1280) {
        & > main {
            grid-template-columns: minmax(min-content, 1fr);

            & > section {
                grid-template-columns: minmax(min-content, 1fr);

                & > div, & > article {
                    min-height: min-content;
                }

                & > div > .thumb {
                    display: none;
                }

                & > article > .thumb {
                    display: inline-block;
                }
            }

            & > aside {
                display: none;
            }
        }
    }
}
