main {
    & .mdc-dialog__container {
        height: 90%;
        width: 100%;
        & > .mdc-dialog__surface {
            background-image: linear-gradient(
                    rgba(196, 212, 236, 0.45),
                    rgba(196, 212, 236, 0.45)
                ),
                url(../jpg/splash-background.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 40%;
            width: 60%;
        }
    }
}
