main {
    & > section {
        & > details {
            padding: 2rem;

            background-color: inherit;
            max-height: initial;
            transition-property: background-color, max-height;
            transition-duration: 500ms;

            & > summary::marker,
            & > summary::-webkit-details-marker {
                color: $akyinkyin-dark-tone;
                font-size: 2rem;
            }

            & > summary {
                cursor: pointer;
                opacity: 1;

                & > h2 {
                    display: inline-block;
                    margin-left: -0.5rem;
                }
            }

            & > ul {
                list-style: none;
                opacity: 0;
                transition-property: opacity;
                transition-duration: 500ms;

                & > li {
                    display: block;
                    margin-bottom: 1rem;

                    & > a {
                        &:active,
                        &:link,
                        &:visited {
                            color: $akyinkyin-dark-tone;
                            text-decoration: none;
                        }
                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: $akyinkyin-base;
                        }
                    }
                }
            }
        }

        & > details[open] {
            background-color: rgba($color: #000000, $alpha: 0.1);
            max-height: 20rem;

            & > ul {
                opacity: 1;
            }
        }
    }
}
